# Rust build output dirs
bootloader/target/
kernel/target/
common/target/

# OVMF files, you're going to have to get these yourself
ovmf/

# This is the directory where we build the image that QEMU will boot
bootimg/

# The file we send QEMU logs to
qemu.log