# Rust build output dirs
bootloader/target/
kernel/target/

# OVMF files, you're going to have to get these yourself
ovmf/

# This is the directory where we build the image that QEMU will boot
bootimg/